/* ---------- Header ---------- */

header {
  margin-bottom: 25px;
}

header #logo {
  width: 130px;
}

header #band {
  width: 40px;
}

header .navbar-toggler {
  padding: 0px 1.5px;
  border: none;
}

header .nav-pages {
  font-family: var(--font-destaque);
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 0px 0px 0px 30px;
  margin: 0 20px;
}

header .nav-pages[selected] {
  color: var(--cor-padrao);
  pointer-events: none;
  cursor: pointer;
}

header a:hover {
  text-decoration: none;
  color: var(--cor-padrao);
}

header #band {
  margin-left: 40px;
  border-radius: 3px;
}

/* ---------- Footer ---------- */

footer #redes {
  padding-top: 8px;
  padding-bottom: 5px;
}

footer #copy {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-destaque);
  text-align: center;
  margin: 0 20px;
}

footer img {
  width: 16px;
  filter: invert(100%);
}

footer .social {
  margin: 0px 12px;
  border-radius: 100%;
  background-color: black;
  padding: 0.5px 7px 4px;
}

footer {
  height: 40px;
  margin-top: 40px;
}